PORT="8008"
NODE_ENV="dev"

# ==== Hash with jsonWebToken ====
JWT_SECRET=""
JWT_ISSUER=""
JWT_AUDIENCE=""

# ==== DB ====
DB_DATABASE=""
DB_USER="postgres"
DB_PASSWORD=""
DB_SERVER="localhost"
DB_PORT="5432"

# ==== DB (Railway - alternative aux variables DB_* séparées) ====
# DATABASE_URL=""